<div>
  <data-grid objects="books">
    <column mapped-on="title">
      <template
        dg-template="header"
        let-column="column">
          {{ column.mappedOn }}
      </template>

      <template
        dg-template="filter"
        let-column="column">
          <span x-large>{{ column.mappedOn }}</span>
      </template>

      <template
        dg-template="body"
        let-column="column"
        let-item="item">
          {{ item | json }}
      </template>
    </column>

    <column type="html" mapped-on="title"></column>

    <column type="hodor" mapped-on="title"></column>

    <action type="edit"></action>
    <action type="delete"></action>
    <action type="custom" confirm="Confirm your choice ?" [onAction]="doCustomAction"></action>

  </data-grid>
</div>


<!--div>
  <cards-list objects="books">
  </cards-list>
</div-->
